Group Project 2
Web Visualization

In [7]:
import csv
import json
import pandas as pd
import sys, getopt, pprint
import pymongo

In [8]:
# read in the 5 yr average cancer incidence rate by county
file1 = "incidence5yrbyCounty.csv"
df_incid5_cty = pd.read_csv(file1)
cty_incid5_df=df_incid5_cty
cty_incid5_df.head()

                          County   FIPS  Age_Adjusted_Rate State
0  Autauga County, Alabama(6,10)   1001              482.1    AL
1  Baldwin County, Alabama(6,10)   1003              437.3    AL
2  Barbour County, Alabama(6,10)   1005              424.3    AL
3     Bibb County, Alabama(6,10)   1007              473.0    AL
4   Blount County, Alabama(6,10)   1009              423.7    AL

In [9]:
# read in the county health ranking data
file2 = "2015_countydata.csv"
df_cnty_d = pd.read_csv(file2)
rank_cntydat_df=df_cnty_d
rank_cntydat_df.head()

,statecode,countycode,fipscode,state,county,year,Smoker,Obese,Food Environment Index,Alcohol,Mammogram,Unemployment,Air Polution,Population
0,1,1,1001,AL,Autauga County,2015,0.217,0.313,7.2,0.167,0.687980,0.056875,12.92,55246
1,4,1,4001,AZ,Apache County,2015,0.184,0.319,0.9,0.134,0.318408,0.197965,9.82,71934
2,5,1,5001,AR,Arkansas County,2015,0.220,0.351,6.1,0.115,0.446429,0.066535,12.27,18777
3,6,1,6001,CA,Alameda County,2015,0.106,0.205,7.6,0.194,0.600738,0.074132,8.46,1578891
4,8,1,8001,CO,Adams County,2015,0.216,0.249,7.7,0.189,0.502252,0.075426,13.48,469193

In [ ]:
#  read in the county cancer list data? 2015
#

In [10]:
# read in the 5 yr average cancer incidence rate by state
file3 = "incidence5yrbyState.csv"
df_incid5_st = pd.read_csv(file3)
st_incid5_df=df_incid5_st
st_incid5_df.head()

  State  Age_Adjust_Rate_State
0    AK                10181.7
1    AL                29845.2
2    AR                33279.0
3    AZ                 5272.1
4    CA                23813.9

In [11]:
# read in the state health ranking data
file4 = "2015_statedata.csv"
df_state_d = pd.read_csv(file4)
rank_stdat_df=df_state_d
rank_stdat_df.head()

,statecode,countycode,fipscode,state,county,year,Smoker,Obese,Food Environment Index,Alcohol,Mammogram,Unemployment,Air Polution,Population
0,1,0,1000,AL,Alabama,2015,0.219,0.332268,6.7,0.122,0.627107,0.064638,12.80,4833722
1,2,0,2000,AK,Alaska,2015,0.208,0.283441,7.4,0.192,0.559037,0.065402,NaN,735132
2,4,0,4000,AZ,Arizona,2015,0.166,0.238975,6.9,0.161,0.639833,0.079746,10.12,6626624
3,5,0,5000,AR,Arkansas,2015,0.224,0.328898,6.2,0.126,0.577840,0.075477,11.76,2959373
4,6,0,6000,CA,California,2015,0.129,0.229002,7.5,0.172,0.592978,0.089451,9.30,38332521

In [12]:
# read in the state cancer list data
file5 = "cancer_2015.csv"
df_state_cancer = pd.read_csv(file5)
cancer_stdat_df=df_state_cancer
cancer_stdat_df.head()

,State,State Name,Brain and Other Nervous System,Breast,Cervix Uteri,Colon and Rectum,Corpus Uteri,Esophagus,Gallbladder,Kidney and Renal Pelvis,...,Melanoma of the Skin,Myeloma,Non-Hodgkin Lymphoma,Oral Cavity and Pharynx,Ovary,Pancreas,Prostate,Stomach,Thyroid,"Urinary Bladder, invasive and in situ"
0,AL,Alabama,342,3863,237,2493,610,292,53,1050,...,1261,404,931,783,344,765,3416,377,520,1076
1,AK,Alaska,51,426,29,294,83,22,0,136,...,79,0,123,80,36,67,228,58,61,144
2,AZ,Arizona,433,4655,241,2583,961,337,72,1238,...,1879,399,1189,757,411,932,3239,412,955,1566
3,AR,Arkansas,210,2189,162,1582,430,157,25,680,...,770,253,609,510,216,433,2070,244,426,667
4,CA,California,2385,26945,1427,14620,5665,1484,504,6236,...,9549,2407,7472,4394,2534,4868,17663,2974,5393,6698